/* Variables
   ========================================================================== */
$color: rgba(#000000, .54);
$purple: #7b80de;

/* MISC
   ========================================================================== */
@import "tools/helpers";
@import "tools/responsive";

/* Generic
   ========================================================================== */
body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3rem;
  color: #0e2639;
  background-color: #1d1f21;
}

/* Tools
   ========================================================================== */
// @import "tools/wordpress";
@import "tools/layout";

/* Modules
   ========================================================================== */
@import "modules/header";
@import "modules/card";
@import "modules/collection";
@import "modules/tag";

/* Pages
   ========================================================================== */
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
